body {
    background-attachment: fixed;
    background-image: url('./image/Wow_wallpaper.jpg');
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.storyLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 900px;
}

.storyBox {
  height: 100px; 
  width: 500px;
}

.standardButton {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 120px;
}

.bossButton {
    background-color: #211510;
    border: 1px solid #f7b10a;
    color: #f7b10a;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 150px;
}
.bossButton:hover{
    background-color: peru;
    color: yellow;
}

.bossPanel {
    background: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px;
    color: black;
    margin-top: 10px;
    width: 60%;
}

.bossName {
    background-color: #f7b10a;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    text-transform: uppercase;
  }

  .bossDescriptionHeader {
      text-decoration-line: underline;
  }